#root {

  margin: 0;
  padding: 0;
  text-align: center;
}


.header__container {
  background-color: #04293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* max-width: 800px;
  padding: 20px; */
}

h1 {
  color: #ff9d00;
  font-size: 6em;
  margin-bottom: 10px;
  text-shadow: 2px 2px 10px rgba(74, 64, 156, 0.671);
  
}

.header__subtitle {
  color: #ccc;
  font-size:1.5em;
  margin-bottom: 100px;
}

.header__image {
  /* margin-bottom: 20px; */
  /* max-width: 500px; */
  /* width: 400px;
  height: 400px; */
}
.header__image img{
  width: 1200px; 
  /* height: 400px; */
  margin-bottom: 40px;
  box-shadow: 0 0 40px rgba(34, 154, 209, 0.2);
}

.read__the-docs {
  color: #fff;
  font-size: 1em;
  margin-top: 20px;
}

.read__the-docs a {
  display: inline-block;
  padding: 10px 20px;
  border: none; /* Remove default border */
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold; /* Add boldness for emphasis */
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s ease-in-out; /* Smooth transition on hover */

  /* Default button style */
  background-color: #596ecc;
  color: #04293b;
}
.read__the-docs a:hover {
  background-color: #ffd902;
  color: #04293b;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* .read__the-docs a:hover {
  text-decoration: underline;
} */

.section__container{
  background-color: #04293b;
  padding-bottom: 80px;
}

.section__container div img{
  width: 100px;
  padding-bottom: 30px;
  
}
.section__container p{
  color: rgb(255, 255, 255);
  display: inline;
  padding: 10px;
  background-color: #031c32;
  

}